.splash-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white; /* Change if needed */
    overflow: hidden;
  }
  
  .splash-logo {
    width: 100vw; /* Full screen width */
    height: 100vh; /* Full screen height */
    object-fit: cover; /* Ensures the image fully covers the screen */
  }
  